p {
  font-family: serif;
}

body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 54px;
  text-shadow: -8px 8px red;
}

h2 {
  color: blue;
}

li {
  list-style: none;
}

div {
  margin: 150px 130px;
  background-color: gray;
  border-radius: 8px;
}

img {
  border-radius: 50%;
  height: 500px;
}